html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  margin-bottom: 2em;
}

li {
  line-height: 1.5;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #454545;
  font-size: 17px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

p {
  margin-bottom: 1em;
}

p.thoughts {
  font-size: 0.75em;
  font-family: menlo;
  margin-bottom: 0;
  font-weight: bold;
}

p.writing {
  font-size: 1em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

img {
  display: block;
  width: 100%;
}

a,
a:visited {
  font-weight: 700;
  text-decoration: none;
  color: #181818;
}

a:hover {
  text-decoration: none;
  color: #00adef;
}

.intro-hed {
  font-size: 1.35em;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
}

.hed {
  font-weight: 100;
  font-size: 0.8em;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

/*
  NAVIGATION
*/
.navigation {
  color: #454545;
  font-size: 0.8em;
}
.navigation a {
  font-weight: 100;
  background-color: #e7e7e7;
}
.navigation a.thoughts {
  color: white;
  background-color: white;
}

.navigation a:hover {
  color: #e7e7e7;
  background-color: #454545;
}

/*
  LINK BEHAVIOURS
*/
svg.twitter:hover {
  fill: #1da1f2;
}

svg.instagram:hover {
  fill: #c13584;
}

svg.soundcloud:hover {
  fill: #ff8800;
}

svg.linkedin:hover {
  fill: #0077b5;
}

svg.github:hover {
  fill: #6e5494;
}

svg.email:hover {
  fill: #c13584;
}

/*
  WORK
*/
.work .disabled {
  text-decoration: line-through;
  color: #e8e8e8;
}

.work p {
  margin-bottom: 0;
}

.work-list {
  /* background-color: #454545; */
}

/*
  PROJECT WORK CODE
*/
.projects p {
  color: black;
  font-size: 0.8em;
}

.projects-header {
  background-color: #fff0f5;
  padding: 0.75em;
  margin-bottom: 20;
}

.project-article h2 {
  /* font-family: menlo, 'Courier New', Courier, monospace; */
  font-size: 1.15em;
  margin-bottom: 100;
  font-weight: 600;
  color: black;
}

.project-article p {
  /* font-size: 80%; */
}

.project-article img {
  height: 200px;
  width: 200px;
  border-width: 50%;
}

/*
  CONTACT PAGE
*/
.contact a {
  margin-right: 1em;
}

@media only screen and (min-width: 540px) {
  body {
    font-size: 19px;
  }
  .container {
    padding-top: 2em;
  }
}
