html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  margin-bottom: 2em;
}

li {
  line-height: 1.5;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #454545;
  font-size: 17px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

p {
  margin-bottom: 1em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a,
a:visited {
  /* font-weight: 700; */
  text-decoration: underline;
  color: #181818;
}

a:hover {
  /* text-decoration: none; */
  opacity: 0.5;
  /* color: #00adef; */
}

.intro-hed {
  font-size: 1.35em;
  font-weight: 100;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  margin: 0 auto;
}

/*
  NAVIGATION
*/
.navigation {
  /* position: fixed; */
  width: 100%;
  transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
}

.navigation-text {
  color: #454545;
  font-size: 0.8em;
}

.navigation:hover {
  background-color: lightyellow;
  transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
}

.navigation a {
  text-decoration: none;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.navigation a:hover {
  color: black;
  text-decoration: line-through;
  text-decoration-color: grey;
}

.nav-margin {
  margin-right: 3%;
  margin-left: 3%;
}

/*
  HOME
*/
.home-modal-dropmobility {
  background-color: #ff7d26;
}

.home-modal-macklab {
  background-color: #00adef;
}

.home-modal-quan {
  background-color: black;
}

.project-card {
  /* This is implicitly <a> */
  text-decoration: none;
  margin-right: 20;
}

.project-card:hover {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

.home-hover {
  opacity: 0.5;
  color: #454545;
}

.home-hover:hover,
.home-hover:active {
  opacity: 1;
  color: #454545;
  cursor: pointer;
}

#outer-box {
  position: relative;
  margin: 0;
}

#outer-box #inner-box {
  /* height: 100%; */
  /* width: 100%; */
  /* top: 70%; */
  /* left: 70%; */
  position: absolute;
  padding: 0;
  margin: 0;
  /* background-color: red; */
}

#inner-box {
  border: 5px black;
  border-radius: 15;
}
#inner-inner-box {
  /* top: 100%; */
  /* left: 100%; */
  /* background-color: green; */
  /* height: 15%; */
  /* width: 15%; */
}

/* #outer-box:hover #inner-box {
  opacity: 0.9;
  transition: opacity 0.5s;
} */

/*
  WORK
*/
.projects p {
  font-family: times;
  font-weight: 100;
  margin-bottom: 0;
  /* line-height: 2; */
  font-size: 1.25em;
}

.projects p strong {
  color: black;
}

.project-article h2 {
  font-size: 1.15em;
  font-weight: 600;
  color: black;
}

.project-article ol {
  list-style-type: disc;
  padding-left: 2em;
  font-size: 0.8em;
}

.citation {
  font-weight: 400;
}

.carousel-indicators {
  margin-bottom: 0.25em;
}

.citation-popover {
  font-size: 0.7em;
  margin-bottom: 0;
}

.citation-popover sup {
  font-size: 0.7em;
}

.with-side-caption img {
  height: 200px;
  width: 200px;
  border-width: 50%;
}

.methods:hover {
  opacity: 0.5;
}

.notes-table {
  /* border: 1px solid pink; */
  padding-top: 5px;
  padding-bottom: 5px;
}

.notes-table .cell {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

/*
  ABOUT PAGE
*/
.about h2 {
  font-size: 1.5em;
  color: black;
}

.about p {
  font-family: times;
  opacity: 0.8;
  margin: 0;
}

.about a {
  font-weight: 100;
  text-decoration: underline;
}

.about a:hover {
  color: inherit;
  opacity: 0.4;
}

.now {
  font-family: 'Times New Roman', Times, serif;
}

/*
  LINK BEHAVIOURS
*/
svg.twitter:hover {
  fill: #1da1f2;
}

svg.instagram:hover {
  fill: #c13584;
}

svg.soundcloud:hover {
  fill: #ff8800;
}

svg.linkedin:hover {
  fill: #0077b5;
}

svg.github:hover {
  fill: #6e5494;
}

svg.email:hover {
  fill: #c13584;
}

svg.cv:hover {
  fill: #e83e8c;
}

/* .research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

@media only screen and (min-width: 540px) {
  body {
    font-size: 19px;
  }
  .container {
    padding-top: 2em;
  }
  /* .research {
    display: flex;
    flex-direction: row;
  }
  .project-card {
    margin: 0;
  } */
}
